.container {
    width: 1056px;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: auto;
    margin-right: auto;
}

body {
    font-family: "Inter";
    line-height: 1.6;
    background-color: rgb(161, 199, 227);
}

.header {
    background-image: linear-gradient(rgba(43, 74, 97, 0.87), rgba(43, 74, 97, 0.87)), url(../img/headerbackground.webp);
    padding-top: 39px;
    padding-bottom: 39px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px #FFF;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo {
    display: flex;
}

.header-nav {
    display: flex;
    margin: 10px 0;
}

.nav-list {
    display: flex;
    gap: 15px;
}

.nav-link {
    transition: color 0.3s;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.nav-link:hover {
    color: #94CFFF;
    font-weight: 600;
}

.header-list {
    display: flex;
    align-items: center;
    gap: 48px;
}

.nav-button {
    color: #26C7EA;
    background-color: #0B0E66;
    width: 141px;
    height: 41.694px;
    text-align: center;
    font-family: "HeadlandOne";
    font-size: 20px;
    font-weight: 400;
    line-height: 1, 25;
    outline: 2px solid #26C6EA;
    border-radius: 35px 0 35px 0;
}

.language-text {
    display: flex;
    gap: 10px;
    color: #ffffff;
}

.language-camption {
    color: white;
    text-align: center;
    font-family: "Hammersmith One";
    font-size: 16px;
    font-weight: 400;
    line-height: 1, 25;
}

.hero {
    background-image: url(../img/mainbackground.webp);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 180px;
    padding-bottom: 179px;
}

.hero-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-text {
    width: 298px;
    color: white;
    font-family: "Inter";
    font-size: 20px;
    font-weight: 400;
}

.hero-text2 {
    width: 376px;
    color: white;
    font-family: "Inter";
    font-size: 20px;
    font-weight: 400;
    line-height: 1, 2;

}

.hero-btn {
    color: #26C7EA;
    background-color: #0B0E66;
    width: 260px;
    border-radius: 45px 0;
    text-align: center;
    font-family: "HeadlandOne";
    font-size: 24px;
    font-weight: 400;
    line-height: 1, 25;
    outline: 2px solid #26C7EA;
    margin-top: 42px;
    padding: 10px 31px;
}

.hero-list {
    display: flex;
    gap: 25px;
    flex-direction: column;
    align-items: end;
    justify-content: end;
}

.note {
    padding-top: 75px;
    padding-bottom: 10px;
    background: white;
    text-align: center;
}

.blc-text2 {
    color: #0A3853;
    text-align: justify;
    font-family: "Inter";
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    justify-content: center;
}

.blc-text {
    color: #0A3853;
    text-align: justify;
    font-family: "Inter";
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    justify-content: center;
    margin-top: 4px;
    margin-bottom: 16px;

}

.blc-cite {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    margin-bottom: 8px;
}

.note-img {
    width: 400px;
    height: 120px;
}

.trailer {
    background-image: url('../img/sectionthreeimg.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 330px;
    padding-bottom: 331px;
    text-align: center;
}

.trailer-btn {
    color: #26C7EA;
    text-align: justify;
    font-family: "HeadlandOne";
    font-size: 24px;
    font-weight: 400;
    border-radius: 45px 0px;
    border: 3px solid #26C7EA;
    background: #0B0E66;
    padding: 20px 20px;
}

.navi {
    background-image: url('../img/sfiveimg.png');
    text-align: center;
    background-size: cover;
}

.navi-title {
    color: #141414;
    font-family: "HeadlandOne";
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 45px;
    padding-top: 58px;
}

.card-list {
    display: flex;
    flex-wrap: wrap;
    gap: 36px;
}

.card-item {
    background: rgba(255, 255, 255, 0.70);
    padding-top: 36px;
    padding-bottom: 36px;
    width: 320px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.navi-text {
    color: #141414;
    text-align: center;
    font-family: "HeadlandOne";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    
}

.navi-img{
    width: 152px;
    display: flex;
    margin-left: auto;
  margin-right: auto;


}

.navi-text2 {
    color: #000;
    text-align: center;
    font-family: "HeadlandOne";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.footer {
    background-image: linear-gradient(rgba(43, 74, 97, 0.87), rgba(43, 74, 97, 0.87)), url(../img/headerbackground.webp);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 35px;
    padding-bottom: 25px;
}

.footer-web {
    display: flex;
    align-items: center;
    gap: 80px;
}

.footer-div {
    width: 2px;
    height: 153px;
    background: white;
}

.footer-box {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.footer-itm {
    display: flex;
    justify-content: end;
    margin-bottom: 16px;
}

.footer-item {
    display: flex;
    justify-content: end;
}

.footer-txt {
    color: white;
    text-align: justify;
    font-family: "Inter";
    font-size: 20px;
    font-weight: 400;
}

.footer-line {
    color: white;
    display: flex;
    align-items: center;
}

.footer-text {
    color: white;
    text-align: justify;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
}

.footer-p {
    color: white;
    text-align: justify;
    font-family: "Inter" ;
    font-size: 14px;
    font-weight: 400;
    margin-top: 37px;
}